@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(24, 27, 32);
}
/* 📌 Fontes personalizadas */
.instrument-sans-unique {
  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, span {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* @layer base {
  body {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl;
  }
}

@layer components {
  .responsive-container {
    @apply max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8;
  }
} */